a.dark {
  color: #6a31bf;
}

a.light {
  color: #c8a3e8;
}

b.sale {
  color: red;
}

div.bg-cols {
  background-image: url("../img/bg-cols.png");
}

div.center {
  text-align: center;
}

div.header {
  background-color: #3a0a5c;
  height: 70px;
}

div.info {
  background: #d1bfec;
  border-color: #a180d3;
  color: #6a31bf;
  margin-right: 10px;
}

div.item-div {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  padding-bottom: 12px;
  width: 80px;
}

div.outer {
  background-color: #fafafa;
  box-shadow: 0px 0px 14px #404040;
  -moz-box-shadow: 0px 0px 14px #404040;
  -webkit-box-shadow: 0px 0px 14px #404040;
}

div.padded {
  padding: 1.5em;
}

div.relative {
  position: relative;
}

div.right {
  text-align: right;
}

h1.title {
  color: #f0f0f0;
  margin-left: 20px;
}

h2.title {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 10px;
}

img.item-image {
  height: 200px;
  width: 200px;
}

img.item-preview {
  height: 80px;
  width: 80px;
}

p.item-description {
  font-size: 14px;
}

.align-right {
  clear: both;
  float: right;
  margin-right: 8px;
}

.bold {
  font-weight: bold;
}

.valign-bottom {
  bottom: 0px;
  margin-bottom: 10px;
  position: absolute;
}
