<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>James' Magic Shop</title>
		<link rel="stylesheet" type="text/css" href="css/blueprint.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/jquery-ui.js"></script>
		<script type="text/javascript" src="js/underscore.js"></script>
		<script type="text/javascript" src="js/backbone.js"></script>
	</head>
	<body>
		<div id="app" class="container outer">
			<div class="span-24 header">
				<div class="span-12 header relative">
					<h1 class="title valign-bottom">
						<b>James' Magic Shop</b>
					</h1>
				</div>
				<div class="span-12 last header relative">
					<div class="span-12 last valign-bottom">
						<div class="align-right">
							<a id="viewCartLink" href="#cart" class="light">
								View Cart (<span id="cartItemCount"></span>)
							</a>
						</div>
						<div class="align-right">
							<form id="searchForm">
								<input id="searchText" type="text"
								       placeholder="Search">
								<input type="submit" value="Go">
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="span-24 bg-cols">
				<div class="span-6">
					<div id="categoryList" class="padded"></div>
				</div>
				<div id="contentDiv" class="span-18 last"></div>
			</div>
		</div>
		<script id="categoryListTemplate" type="text/template">
			<a id="shop" href="#shop" class="dark">All Items</a><br>
			<% _.each(categories, function(category) { %>
				<br>
				<a id="shop-<%= category.id %>" href="#shop/<%= category.id %>"
				    class="dark">
					<%= category.get('name') %>
				</a>
			<% }); %>
		</script>
		<script id="inventoryTemplate" type="text/template">
			<h2 class="title">
				<% if (category) { %>
					<%= categories.get(category).get('name') %>
				<% } else { %>
					All Items
				<% } %>
			</h2>
			<% if (search) { %>
				<div class="info">
					Using filter "<%= search %>"
					<a id="removeSearch" class="dark">remove</a>
				</div>
			<% } %>
			<div id="itemList"></div>
		</script>
		<script id="itemListTemplate" type="text/template">
			<div id="itemListItems"></div>
			<% if (pages > 1) { %>
				<div class="span-16 last"
				     style="text-align: center; margin-bottom: 10px;">
					<% _.each(_.range(1, pages + 1), function(page) { %>
						<a class="navPage dark"><%= page %></a>
					<% }); %>
				</div>
			<% } %>
		</script>
		<script type="text/javascript" src="js/models/CartItem.js"></script>
		<script type="text/javascript" src="js/models/Category.js"></script>
		<script type="text/javascript" src="js/models/Item.js"></script>
		<script type="text/javascript" src="js/collections/Cart.js"></script>
		<script type="text/javascript" src="js/collections/CategoryList.js">
		</script>
		<script type="text/javascript" src="js/collections/Inventory.js">
		</script>
		<script type="text/javascript" src="js/views/AppView.js"></script>
		<script type="text/javascript" src="js/views/CartView.js"></script>
		<script type="text/javascript" src="js/views/InventoryView.js"></script>
		<script type="text/javascript" src="js/views/ItemView.js"></script>
		<script type="text/javascript" src="js/Router.js"></script>
		<script type="text/javascript">
			// instantiate all of the top-level models
			firebird.cart = new firebird.Cart();
			firebird.categories = new firebird.CategoryList();
			firebird.inventory = new firebird.Inventory();

			// instantiate the views
			firebird.app = new firebird.AppView();

			// inventory test data
			for (var i = 1; i < 100; ++i) {
				var price = Math.floor(Math.random() * 10000) / 100;
				var salePrice = Math.floor(price * Math.random() * 100) / 100;

				firebird.inventory.add(new firebird.Item({
					id: i,
					name: "Item #" + i,
					desc: "Item #" + i + " description",
					category: Math.random() < 0.5 ? 1 : 2,
					price: price,
					salePrice: Math.random() < 0.8 ? price : salePrice,
					quantity: Math.ceil(Math.random() * 10)
				}));
			}

			// load data from server
			//firebird.inventory.fetch();
			firebird.categories.fetch({ success: function() {
				// start routing urls and navigate to the main inventory unless
				// the url already has a hash
				firebird.router = new firebird.Router();

				if (!location.hash)
					location.hash = "shop";
			} });
		</script>
	</body>
</html>
