<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>James' Magic Shop</title>
    <link rel="stylesheet" type="text/css" href="/css/blueprint.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/backbone.js"></script>
    <script type="text/javascript" src="/js/notifier.js"></script>
  </head>
  <body>
    <div id="app" class="container outer">
      <div class="span-24 header">
        <div class="span-12 header relative">
          <a href="" id="homeLink">
            <h1 class="title valign-bottom">
              <b>James' Magic Shop</b>
            </h1>
          </a>
        </div>
        <div class="span-12 last header relative">
          <div class="span-12 last valign-bottom">
            <div class="align-right">
              <a id="loginLink" href="" class="light">
                {% if logged_in %} Log Out {% else %} Log In {% endif %}
              </a>
              <a id="viewCartLink" href="" class="light">
                View Cart (<span id="cartItemCount"></span>)
              </a>
            </div>
            <div class="align-right">
              <form id="searchForm">
                <input id="searchText" type="text" placeholder="Search">
                <input type="submit" value="Go">
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="span-24 bg-cols">
        <div class="span-6">
          <div id="categoryList" class="padded"></div>
        </div>
        <div id="contentDiv" class="span-18 last"></div>
      </div>
    </div>
    <script id="cartViewTemplate" type="text/template">
      <% var num = 1; %>
      <h2 class="title">Shopping Cart</h2>
      <div class="span-1">&nbsp;</div>
      <div class="span-16">
        <% items.each(function(cartItem) {
             var item = inventory.get(cartItem.get("itemID")); %>
          <h4><b><%= num++ %>) <%= item.get("name") %></b></h4>
          <table>
            <tr>
              <td>
                <img class="item-preview" src="/static/img/item<%= item.get("id") %>.png">
              </td>
              <td>
                Quantity: <input type="text" value="<%= cartItem.get("count") %>" class="quantityInput"
                                 data-item-id="<%= cartItem.get("itemID") %>" size=3>
              </td>
              <td>
                <button class="removeButton" data-item-id="<%= cartItem.get("itemID") %>">Remove</button>
              </td>
              <td>
                Price: $<%= item.get("salePrice").toFixed(2) %>
              </td>
              <td>
                = $<%= (item.get("salePrice") * cartItem.get("count")).toFixed(2) %>
              </td>
            </tr>
          </table>
        <% }); %>
        <% if (items.length == 0) { %>
          <div class="span-16 center">
            <i>No items in cart.</i>
          </div>
        <% } else { %>
          <table>
            <tr>
              <td width="200px">&nbsp;</td>
              <td>
                Subtotal:<br>
                Shipping & Handling:<br>
                Total:
              </td>
              <td>
                <% var inv = inventory;

                   function add(total, item) {
                     return total +
                       item.get("count") * inv.get(item.get("itemID")).get("salePrice");
                   }

                   var subtotal = items.reduce(add, 0),
                       count = items.size(),
                       shipping = 4 + count;

                   // this is bad code and I'm a bad person for writing it
                   app.total = subtotal + shipping; %>

                $<%= subtotal.toFixed(2) %><br>
                $<%= shipping.toFixed(2) %><br>
                $<%= app.total.toFixed(2) %>
              </td>
              <td>
                <button id="updateButton">Update</button>
              </td>
              <td>
                <button id="checkoutButton">Checkout</button>
              </td>
            </tr>
          </table>
        <% } %>
      </div>
      <div class="span-1 last">&nbsp;</div>
    </script>
    <script id="categoryListTemplate" type="text/template">
      <a href="" class="dark" data-category-id="0">All Items</a><br>
      <% categories.each(function(category) { %>
        <br>
        <a href="" class="dark categoryLink" data-category-id="<%= category.get("id") %>">
          <%= category.get("name") %>
        </a>
        <% if (admin) { %>
          <a href="" class="dark editLink" data-category-id="<%= category.get("id") %>">
            (edit)
          </a>
          <a href="" class="dark removeLink" data-category-id="<%= category.get("id") %>">
            (remove)
          </a>
        <% } %>
      <% }); %>
      <% if (admin) { %>
        <br><br><a href="" class="dark addLink">Add Category</a>
      <% } %>
    </script>
    <script id="checkoutViewTemplate" type="text/template">
      <div class="span-1">&nbsp;</div>
      <div class="span-16">
        <br>
        <h4><b>Shipping Information</b></h4>
        <table>
          <tr>
            <td width="150px">Name:</td>
            <td><input id="shippingName"></td>
          </tr>
          <tr>
            <td>Address Line 1:</td>
            <td><input id="shippingAddress1"></td>
          </tr>
          <tr>
            <td>Address Line 2:</td>
            <td><input id="shippingAddress2"></td>
          </tr>
          <tr>
            <td>City:</td>
            <td><input id="shippingCity"></td>
          </tr>
          <tr>
            <td>State:</td>
            <td><input id="shippingState"></td>
          </tr>
          <tr>
            <td>Zip Code:</td>
            <td><input id="shippingZipCode"></td>
          </tr>
        </table>
        <br>
        <h4><b>Billing Information</b></h4>
        <input type="checkbox" id="same" checked="checkd"> Same as Shipping Information
        <table id="billingTable" style="display: none;">
          <tr>
            <td width="150px">Name:</td>
            <td><input id="billingName"></td>
          </tr>
          <tr>
            <td>Address Line 1:</td>
            <td><input id="billingAddress1"></td>
          </tr>
          <tr>
            <td>Address Line 2:</td>
            <td><input id="billingAddress2"></td>
          </tr>
          <tr>
            <td>City:</td>
            <td><input id="billingCity"></td>
          </tr>
          <tr>
            <td>State:</td>
            <td><input id="billingState"></td>
          </tr>
          <tr>
            <td>Zip Code:</td>
            <td><input id="billingZipCode"></td>
          </tr>
        </table>
        <div class="span-16 last">&nbsp;</div>
        <h4><b>Credit Card Information:</b></h4>
        <table>
          <tr>
            <td width="150px">Name on Card:</td>
            <td><input id="cardName"></td>
          </tr>
          <tr>
            <td>Card Number:</td>
            <td><input id="cardNumber"></td>
          </tr>
          <tr>
            <td>Card Security Number:</td>
            <td><input id="cardSecurityNumber"></td>
          </tr>
        </table>
        <div class="span-16 last" style="text-align: center;">
          <h3><b>Total: $<%= total.toFixed(2) %></b></h3>
        </div>
        <div class="span-16 last" style="text-align: center;">
          <button id="completeOrder">Complete Order</button>
        </div>
        <div class="span-16 last">&nbsp;</div>
      </div>
      <div class="span-1 last">&nbsp;</div>
    </script>
    <script id="inventoryViewTemplate" type="text/template">
      <h2 class="title"><%= category %></h2>
      <% if (query) { %>
        <div class='info'>
          Using filter "<%= query %>"
          <a id="removeSearch" href="" class="dark">remove</a>
        </div>
      <% } %>
      <% _(items).each(function(row) { %>
        <div class="span-18 last">
          <% _(row).each(function(item) { %>
            <div class="span-4">
              <div class="item-div">
                <a href="" class="dark itemLink" data-item-id="<%= item.id %>">
                  <b><%= item.name %></b>
                  <img class="item-preview" src="/static/img/item<%= item.id %>.png">
                </a>
                <div class="center">
                  <% if (item.price == item.salePrice) { %>
                    <b>$<%= item.price.toFixed(2) %></b>
                  <% } else { %>
                    <strike><b>$<%= item.price.toFixed(2) %></b></strike><br>
                    <b class="sale">$<%= item.salePrice.toFixed(2) %></b>
                  <% } %>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      <% }); %>
      <% if (items.length == 0) { %>
        <div class="span-16 center">
          <i>No items found.</i>
        </div>
      <% } %>
      <% if (pages > 1) { %>
        <div class="span-16 center">
          <% _(_.range(1, pages + 1)).each(function(page) { %>
            <% if (page == currentPage) { %>
              <b><a href="" class="navPage dark" data-page="<%= page %>"><%= page %></a></b>
            <% } else { %>
              <a href="" class="navPage dark" data-page="<%= page %>"><%= page %></a>
            <% } %>
          <% }); %>
          <div class="span-18 last"><br></div>
        </div>
      <% } %>
    </script>
    <script id="itemViewTemplate" type="text/template">
      <h2 class="title"><%= item.name %></h2>
      <div class="span-3">&nbsp;</div>
      <div class="span-7">
        <img class="item-image" src="/static/img/item<%= item.id %>.png">
      </div>
      <div class="span-8 last">
        <br><br>
        <h3>
          Price:
          <% if (item.price == item.salePrice) { %>
            <b>$<%= item.price.toFixed(2) %></b>
          <% } else { %>
            <strike><b>$<%= item.price.toFixed(2) %></b></strike>
            <b class="sale">$<%= item.salePrice.toFixed(2) %></b>
          <% } %>
        </h3>
        <% if (item.quantity <= 5) { %>
          <h4><i>Only <%= item.quantity %> left!</i></h4>
        <% } %>
        <form id="addToCartForm">
          Quantity: <input type="text" id="addQuantity" value=1 size=3><br>
          <input type="submit" value="Add to Cart">
        </form>
      </div>
      <div class="span-18 last">&nbsp;</div>
      <div class="span-2">&nbsp;</div>
      <div class="span-14">
        <p class="item-description"><%= item.description %></p>
      </div>
      <div class="span-2 last">&nbsp;</div>
    </script>
    <script type="text/javascript" src="/js/models/CartItem.js"></script>
    <script type="text/javascript" src="/js/models/Category.js"></script>
    <script type="text/javascript" src="/js/models/Item.js"></script>
    <script type="text/javascript" src="/js/collections/Cart.js"></script>
    <script type="text/javascript" src="/js/collections/CategoryList.js"></script>
    <script type="text/javascript" src="/js/collections/Inventory.js"></script>
    <script type="text/javascript" src="/js/views/AppView.js"></script>
    <script type="text/javascript" src="/js/views/CartView.js"></script>
    <script type="text/javascript" src="/js/views/CheckoutView.js"></script>
    <script type="text/javascript" src="/js/views/InventoryView.js"></script>
    <script type="text/javascript" src="/js/views/ItemView.js"></script>
    <script type="text/javascript" src="/js/Router.js"></script>
    <script type="text/javascript">
      $(function() {
        // instantiate all of the top-level collections
        firebird.cart = new firebird.Cart();
        firebird.categories = new firebird.CategoryList();
        firebird.inventory = new firebird.Inventory();

        // set up the main view
        firebird.app = new firebird.AppView({ el: $("div#app") });
        firebird.app.loggedIn = "{{ logged_in }}" == "True";
        {% autoescape false %}
        firebird.categories.reset({{ categories }});
        {% if item %}
        firebird.inventory.add({{ item }});
        {% endif %}
        {% endautoescape %}
        firebird.inventory.fetch();

        // start routing requests and run the app
        firebird.router = new firebird.Router();
        firebird.router.navigate(location.pathname, { trigger: true });
      });
    </script>
  </body>
</html>
